@import url('normalize.css');
body {
  margin: 0;
  padding: 0;
  user-select: none;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
